<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.safiofyp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.example.safiofyp.models.UserClient"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="SAFIO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name="com.example.safiofyp.main.TraficIndexActivity"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.example.safiofyp.main.AllStreetsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.example.safiofyp.main.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.safiofyp.auth.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.safiofyp.auth.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.safiofyp.main.MyLocationActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.example.safiofyp.auth.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.safiofyp.main.QuestionsActivity" />
        <activity
            android:name="com.example.safiofyp.main.ShowDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.safiofyp.main.NewMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.safiofyp.auth.EditProfile"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>